@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* common */
.clear:after{content:""; clear:both; display: block;}

body{
	font-family: 'Poppins','Noto Sans KR', sans-serif;
	/*영문먼저쓰기 영문만 적용.*/
}

/*header*/
.header{
	position: fixed;
	top: 0;left: 0;
	width: 100%;
	background: #fff;
	height: 67px;
	padding:21px 15px 19px;
	z-index: 2;
	transition: 1s;
}
.header.hover{
	z-index: 10;
	background: #000;
}


.header.hover .menu_btn span{
	background: #fff;
}

.header.hover .menu_btn span:nth-child(1){    transform: rotate(45deg) translate(2px, 3px);}
.header.hover .menu_btn span:nth-child(2){    transform: rotate(-45deg) translate(4px, -5px);}
.header.hover h1,.header.hover .cart{visibility: hidden;}
.header h1{
	height: 21px;
	width: 70px;
	background: #f00;
	float: left;
}

.header .inner{
	float: right;
}

.header .inner a{
	float: left;
}

.header .cart{
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #000;
	color:#fff;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	margin-right: 10px;
}

.header .menu_btn span{
	display:block;
	width: 32px;
	height: 2px;
	background: #000;
	transition: 1s;
}

.header .menu_btn span:first-child{
	margin-bottom: 8px;
	margin-top: 4px;
}

.gnb{
	background: #000;
	position: fixed;
	top: 0;right: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	padding:21px 15px 19px;
	transition: 1s;
	opacity: 0;
	visibility: hidden;
}
.gnb.on{
	visibility: visible;
	opacity: 1;
}
.gnb a{
	color:#fff;
}

.gnb .nav{
	padding-top:100px;
}
.gnb .nav a{
	font-size: 35px;
	font-weight: 500;
}

.gnb .nav li{
	padding:10px 0;
}

.gnb .gnb_foot{
	position: absolute;
	bottom: 0; left: 0;
	padding:21px 15px 19px;
}

/*container*/
.main_vis{
	height: 100vh;
	background: #f00;
	padding-top:67px;
	color:#fff;
}

.main_vis .slide01{
	background: url(https://m.laka.co.kr/laka_skin/images/mo/about_visual.jpg) no-repeat;
	background-position: center;
	background-size: cover;

}
.main_vis .slide02{
	background: url(https://m.laka.co.kr/laka_skin/images/mo/about_visual.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.main_vis .slide03{
	background: url(https://m.laka.co.kr/laka_skin/images/mo/about_visual.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.swiper-container {
      width: 100%;
      height: 100%;
    }

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

.prd_intro01 {
	position: relative;

}

.prd_intro01 .bg{
	padding-bottom:100%;
	background: #f00;
}

.prd_intro01.bg01 .bg{
	background: url(https://m.laka.co.kr/laka_skin/images/mo/img_main_thumb_01_01_wbs_m.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.prd_intro01 .bg02 .bg{}
.prd_intro01 .bg03 .bg{}

.prd_intro01 ul li{
	float: left;
	width: 33.33%;
	background-color: #ccc;
	padding:20px 0;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
}

.prd_intro01 ul li.on{
	background: #f00;
	color:#fff;

}



.prd_intro01 .txt_wrap01{
	position: absolute;
	top: 0;left: 0;
	padding:20px;
}

.txt_wrap01 em{
	display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1;
    color: #867b71;
    text-shadow: 0 0 5vw rgba(0,0,0,0.5);
}

.txt_wrap01 strong{
	display: block;
	font-size: 24px;
	margin-bottom: 10px;
	text-shadow: 0 0 5vw rgba(0,0,0,0.5);
	color:#fff;
	line-height: 1.3;	/*fs기준 몇 배*/
}
.txt_wrap01 p{
	font-size: 12px;
	text-shadow: 0 0 5vw rgba(0,0,0,0.5);
	color:#fff;
}


/*prd_intro02*/
.prd_intro02{

}
.prd_intro02 .txt_wrap01 {padding:20px;}
.prd_intro02 .txt_wrap01 em{
	text-shadow: none;
	color:#f00;

}
.prd_intro02 .txt_wrap01 strong{
	text-shadow: none;
	color:#000;
	
}

.prd_intro02 ul li {position: relative;
	margin-bottom: 15px;
}

.prd_intro02 ul li img{
	vertical-align: top;
	width: 100%;
}


.prd_intro02 ul li .txt_wrap02{
	position: absolute;
	bottom: 0; left: 0;
	color:#fff;
	text-align: center;
	width: 100%;
}
.prd_intro02 ul li .txt_wrap02 p{
	margin:10px 0 20px;
}


.bg_sec{
	background: #2a2a3e;
	position: relative;
	overflow: hidden;
	padding:80px 0 0;
}
.bg_sec .bg_01{
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(0%);
    transition: transform 2s;
}
.bg_sec.on .bg_01 {
    transform: translateY(-100%);
    transition: transform 1s cubic-bezier(0,1,1,1);
}

.bg_sec .title{
	font-size: 30px;
	color:#fff;
}
.bg_sec .title span{display: block;}
.bg_sec .title span:nth-child(2):before{
	content:"";
	width: 100px;height: 1px;display: inline-block;background: #fff;
	vertical-align: middle; margin-right: 10px;
	}

.bg_sec .desc{
	display: block;
	color:#eee;	
	font-size: 12px;
	padding: 10px 0 50px; 
	/*패딩 먹일려면 db줘야함*/

}
.utube_wrap{
	padding-bottom: 56%;
	position: relative;
	margin: 60px 0 0;
}

.utube_wrap iframe{
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
}

.bg_sec .swiper-pagination-progressbar{
	width: calc(100% - 40px); 
	height: 3px;
	margin-top: 10px;
}

.bg_sec .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
	background: #fff;
}

.prd_intro03{
	padding-left: 20px;
}
.prd_intro03 img{
	width: 100%;
}




.video_wrap{position: relative;
	z-index: 2;
	padding: 0 30px;
}


.banner01{
	margin-top: 100px;
	background: #ccc;
	position: relative;
	
}
.banner01::before{
	content:"";
	position: absolute;
	top: 0;left: 0;
	width: 100%;height: 100px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2a2b3e+0,000000+100&1+0,0+100 */
	background: -moz-linear-gradient(top,  rgba(42,43,62,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(42,43,62,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(42,43,62,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b3e', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	/*https://www.colorzilla.com/gradient-editor/ 에서 가져옴*/
}

.banner01 .txt_wrap01{
	position: absolute;
	top: 40px;left: 20px;
}

.banner01 img{width: 100%;}


.story_wrap{
	padding:80px 0;
}

.story_wrap .txt_wrap03{
	padding: 0 20px 30px;
	position: relative;
}

.story_wrap .txt_wrap03 .navi{
	position: absolute;
	right: 0; top: 0;
	margin-right: 20px;
}

.txt_wrap03 .navi li{
	float: left;
	width: 30px;left: 30px;
	background: url(../img/next.svg) no-repeat ;
	background-size: 20px;
	background-position: center;
	text-indent: -9999px;
}
.txt_wrap03 .navi li.swiper-button-disabled{
	opacity: 0.5;
}

.txt_wrap03 .navi li:first-child{
	transform: rotate(180deg);
}

.story_wrap .txt_wrap03 em{
	font-weight: bold;
	font-size:20px;
}


.story_wrap .txt_wrap03 strong{
	display: block;
	font-size:30px;
	line-height: 1.3;
	margin-top: 20px;
}

.story_wrap .theme_slide{
	padding-left: 20px;
}
.story_wrap img{width: 100%;}

.story_wrap .swiper-slide{display: block;text-align: left;}

.txt_wrap04{padding:10px 0;}
.txt_wrap04 em{font-size: 14px; display: block; font-weight: bold;}
.txt_wrap04 strong{font-size: 20px; line-height: 1.3; display: block;padding: 10px 0;}
.txt_wrap04 span{font-size: 12px; color:#ccc;}


.event_wrap{padding:20px;}
.event_wrap li{margin-bottom: 20px;}
.event_wrap img{width: 100%;
}

.footer{background: #000; color:#fff;
	padding:20px 10px;
}
.footer a{color:#fff;}
.footer h2{float:right;}
.footer .f_nav{
	font-size: 40px;
	font-weight: bold;
	padding:100px 0 50px;
}

.info01{overflow: hidden;}
.info01>div{width: 50%;float: left;}
.info01 span{
	font-weight: bold;
	font-size: 16px;
	display: block;
	margin-bottom: 10px;
}

.info01 li{
	font-size: 14px;
	margin-bottom: 10px;
}

.info01 .last_area{margin-top: 30px;}

.footer .address{
	color:#ccc;
	font-size:12px;
	margin-top: 30px;
}

.footer .copy{
	margin-top: 20px;
	font-size:12px;
}