@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/*common*/
.clear:after{content:""; clear:both; display: block;}

body{font-family: 'Poppins','Noto Sans KR', sans-serif;}

/*header*/
