@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

body{font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}

/*common*/
.clear:after{content:""; clear:both; display: block;}

.tit{font-size: 40px; color:#c1a06a; text-align: center;position: relative;}
.tit span{position: relative; z-index: 2;}
.tit:after{font-family: 'Libre Baskerville', serif; position: absolute;
	top: 50%;left: 50%;transform: translate(-50%,-50%);color:#7d7d7d;
	margin-top: -20px;opacity:0.3;
}

/*header*/
.header{height: 72px;background: #1b1b1b;}
.header .inner{width: 1152px;margin: auto; position: relative;}
.header h1{width: 124px;height: 25px;
	background: url(../images/logo/logo.png) no-repeat;
	text-indent: -9999px;
	position:absolute; left: -9px;top: 25px;
}
.header h1 a{display: block;height: 25px;}

.header .gnb{float:left; position: absolute; left: 50%; top: 50%;
	transform: translate(-50%,-50%);}
.header .gnb li{float:left;padding:0 24px; line-height: 72px;}
.header .gnb a{color:#fff;}
/* 카테고리 여백 넉넉하게 넣고싶은데 padding 24에서 숫자 늘리면 2줄로 바뀜*/

.header .user_nav{float:right;}
.header .user_nav li{float:left; line-height: 72px; margin-left: 22px;}
.header .user_nav a{color:#b3b3b3;}

.header .user_nav li:first-child:before{
	content:""; width: 16px;height: 19px;
	background: url(../images/icon/ic_user.png) no-repeat;
	display: inline-block;
	vertical-align: middle; margin-right: 3px;
}
.header .user_nav li:last-child:before{
	content:""; width: 23px;height: 23px;
	background: url(../images/icon/ic_cart.png) no-repeat;
	display: inline-block;
	vertical-align: middle; margin-right: 6px;
}
.header .user_nav li:last-child a{position: relative;}
.header .user_nav li:last-child i{width: 18px;height: 18px;
	border-radius: 50%;
	display: block; position: absolute;top: 13px;left: -15px;
	background: #cc012e;line-height: 18px;text-align: center;
	color:#fff; font-size: 10px;
}

/*main_vis*/
.main_vis{height: 100vh; background: url(../images/main_vis.jpg) no-repeat center;
	background-size: cover;
}
.main_vis .inner{width: 1152px; margin: 0 auto; position: relative;
height: 100%;}
.main_vis .text_wrap{position: absolute;top: 50%;left: 0;transform: translateY(-50%);}
.main_vis img{display: block;  }
.main_vis strong{font-size: 20px; color:#bdbcbc; padding:10px 0; display: block;}
.main_vis p{color:#606060;padding-bottom: 20px;line-height: 20px;}
.main_vis a{width: 138px;height: 52px;
	border: 2px solid #fff; display: block;
	border-radius: 26px;
	color:#fff; line-height: 48px; text-align: center; font-size: 18px;
	transition: 0.3s;
}
.main_vis a:hover{background: #fff; color:#000;}

/*contents_wrap*/
.contents_wrap{background: #222;}
.contents_wrap ul{width: 1152px; margin:auto;}
.contents_wrap li{float:left; width: 370px; height: 230px; 
	background: #282828; margin:104px 20px 104px 0;
	position: relative; box-shadow: 2px 2px 20px 1px #111;
}
.contents_wrap li:last-child{margin-right: 0;}
.contents_wrap a{position: absolute; right: 0; top:36px;}
.contents_wrap em{width: 162px;height: 28px;
	line-height: 28px; display: block; 
	font-size: 18px; color:#222220;
	padding-left:20px;
	box-sizing: border-box;
}
.contents_wrap li:nth-child(1) em{background: #c1a06a;}
.contents_wrap li:nth-child(2) em{background: #754c24;}
.contents_wrap li:nth-child(3) em{background: #5a2b0c;}

.contents_wrap strong{font-size: 22px; color:#e3e3e3;
	display:block; margin:25px 0 15px;
}
.contents_wrap p{color:#8a8a8a;line-height: 20px;}

.contents_wrap li:nth-child(1):before{
	content:""; width: 217px;height: 232px;
	background: url(../images/contents_01.png) no-repeat;
	display: inline-block; margin-right: 3px;
	position: absolute;top: -20px;left: -5px;
}
.contents_wrap li:nth-child(2):before{
	content:""; width: 251px;height: 232px;
	background: url(../images/contents_02.png) no-repeat;
	display: inline-block; margin-right: 3px;
	position: absolute;top: -20px;left: -23px;

}
.contents_wrap li:nth-child(3):before{
	content:""; width: 196px;height: 232px;
	background: url(../images/contents_03.png) no-repeat;
	display: inline-block; margin-right: 3px;
	position: absolute;top: -20px;left: 5px;
}

/*new_prd*/
.new_prd{background: #101010; padding:200px 0 140px;}
.new_prd .tit:after{content:"Coffee Machine";}
.new_prd .con{width: 1076px; margin:auto;margin-top: 48px;}
.new_prd .con:after{content:""; clear:both; display: block;}
.new_prd .img_wrap{float:left;width: 50%;}
.new_prd .img_wrap img{width: 100%;}
.new_prd .text_wrap{float:right;background: #282828; color:#fff;
	width: 50%;height: 522px;
	padding:95px 45px;
}
.new_prd .text_wrap em{font-size: 17px; line-height: 23px; }
.new_prd .text_wrap em:nth-child(1){color:#c1a06a;}
.new_prd .text_wrap em:nth-child(2){color:#c00c2f;}

.new_prd .text_wrap strong{display: block;
	font-size: 28px; padding:6px 0 35px;
}
.new_prd .text_wrap p{font-size: 13px;line-height: 23px;color:#b2b0b0;}
.new_prd .text_wrap ul{margin: 30px 0;}
.new_prd .text_wrap ul li{padding-left: 44px;line-height: 30px; margin-bottom: 5px; color:#767676;}
.new_prd .text_wrap ul li:nth-child(1){background: url(../images/icon_01.png) no-repeat;}
.new_prd .text_wrap ul li:nth-child(2){background: url(../images/icon_02.png) no-repeat;}
.new_prd .text_wrap ul li:nth-child(3){background: url(../images/icon_03.png) no-repeat;}

.new_prd .text_wrap a{width: 140px;height: 40px;
	border: 2px solid #c1a06a; display: block;
	border-radius: 26px;
	color:#c1a06a; line-height: 37px; text-align: center; font-size: 15px;
	transition: 0.3s;
}
.new_prd .text_wrap a:hover{background: #c1a06a; color:#000;}


/*banner_01*/
.banner_01{background: url(../images/banner_01.jpg)no-repeat;height: 432px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}
.banner_01 .inner{color:#fff;position: absolute;
	top: 50%;left: 50%;transform: translate(-50%,-50%);text-align: center;
}
.banner_01 .inner strong{font-family: 'Libre Baskerville', serif;
	color:#c1a06a;font-size: 40px;
}
.banner_01 .inner p{color:#8d8a8a;font-size: 17px; padding-top: 20px;}


/*capsule_wrap*/
.capsule_wrap{background: #101010;padding:200px 0 70px;
	position: relative;
	height: 942px; box-sizing: border-box;}
.capsule_wrap .tit:after{content:"Coffee Capsules";}
.capsule_wrap .bg{position: absolute; width: 100%; height: 568px;
	bottom:0; z-index: 0;
	background:url(../images/capsule_bg.jpg) no-repeat;
}
.capsule_nav{width: 900px;margin: auto; color:#fff;margin-top: 48px;}
.capsule_nav li{float:left; width: 14.28%; text-align: center; 
	line-height: 60px;
}
.capsule_nav li.on{color:#c1a06a;}

.capsule_list{width: 900px;margin: auto;position: relative;z-index: 1;}
.capsule_list .list_01{background: #fff;
	border-top: 3px solid #c1a06a;
	padding:21px 55px;
}
.capsule_list .list_01>li{width: 50%; float: left;padding:20px 0;}
.capsule_list .list_01 .text_wrap{float: right;width: 270px; padding-right:30px;}
.capsule_list .list_01 .text_wrap .info{float: left;}
.capsule_list .list_01 .text_wrap .info strong{font-size: 14px;line-height: 23px;color:#383838;
	padding-top:25px;display: block;}
.capsule_list .list_01 .text_wrap .taste_grade{width: 150px;padding-top:10px;}
.capsule_list .list_01 .text_wrap .taste_grade span{color:#b3b3b3;font-size: 12px;
float:left;margin-right: 7px;line-height: 9px;}
.capsule_list .list_01 .text_wrap .taste_grade ul li{
	width: 8px;height: 8px;border-radius: 4px;
	float:left;	background:#fff; border: 2px solid #b3b3b3;
	margin-right: 2px;}
	.capsule_list .list_01 .text_wrap .taste_grade ul li.on{width: 8px;height: 8px;border-radius: 4px;
	float:left;	background:#b3b3b3;margin-right: 2px;}
.capsule_list .list_01 .text_wrap .price{float: right;padding-top:25px;
	font-size: 19px;color:#c1a06a;}


/*recipe_wrap*/
.recipe_wrap{background: url(../images/recipe_bg.jpg) no-repeat; padding:200px 0 83px;
	background-size: cover;
	background-position: center;
}
.recipe_wrap>p{text-align: center; color:#8d8a8a;font-size: 17px; padding-top: 50px;}
.recipe_wrap .tit:after{content:"Coffee Creation";}
.recipe_wrap .inner{width: 1152px; margin: 48px auto 0;}


.recipe_list{width: 668px;  float: left; }
.recipe_list .con{height: 203px; margin-bottom: 27px;
	background: #fff;
}
.recipe_list .con:last-child{margin-bottom: 0;}

.recipe_list .img_warp{background: #f00; width: 250px;height: 203px;
	float:left;
}

.recipe_list .text_wrap{float:left;width: 418px;
	padding:20px 40px 20px;
	}

.recipe_list .text_wrap strong{font-size:19px; color:#272623;
	display: block; border-bottom: 1px solid #c2c2c2;
	line-height: 45px;
}
.recipe_list .text_wrap p{font-size:12px;line-height: 19px;color:#797979;
	padding-top:10px;
}

.recipe_list .text_wrap a{
	width: 95px;height: 25px;
	display: block;
	border-radius: 15px;
	background:#c1a06a; line-height: 25px; text-align: center; font-size: 12px;
	transition: 0.3s; color:#faefdd;
	float:right;
}



.recipe_list .text_wrap .date{background: url(../images/recipe_icon_01.png) no-repeat;
	padding-left:20px; line-height: 19px;
	background-position: left;
	margin-right:10px;
}
.recipe_list .text_wrap .level{background: url(../images/recipe_icon_02.png) no-repeat;
	padding-left:25px; line-height: 19px;
	background-position: left;
}



.recipe_recomm{float:right; width: 457px; height: 434px;
	background: #fff; box-sizing: border-box;
	border: 19px solid #c1a06a;
	position: relative;
}

.recipe_recomm .title{position: absolute;top: 0;left: 50%;
	transform: translateX(-50%); background:#000;
	width: 96px; height: 96px; text-align: center;
	color:#fff; font-size: 18px; padding-top:20px;
}
.recipe_recomm .title span{font-size: 30px;}
.recipe_recomm .text_wrap{
	position: absolute;
	bottom: 0;left: 0;
	padding:0 40px 60px;
}
.recipe_recomm .text_wrap em{display: block;
	color:#b28e52; font-size: 14px; line-height: 23px; 
	border-bottom: 1px solid #c2c2c2;
}
.recipe_recomm .text_wrap strong{font-size:25px;
	color:#2a2927; padding:12px 0;
	display: block;
}
.recipe_recomm .text_wrap p{font-size:12px;line-height: 19px;color:#797979;
	padding:7px 0 20px;}
.recipe_recomm .text_wrap a{width: 95px;height: 25px;
	display: block;
	border-radius: 15px;
	background:#c1a06a; line-height: 25px; text-align: center; font-size: 12px;
	transition: 0.3s; color:#faefdd;
}
.recipe_recomm img{position: absolute;
	bottom: -28px;
    right: -78px;
}

.recipe_wrap .more_btn{
    width: 180px;
    height: 50px;
    border: 2px solid #fff;
    display: block;
    border-radius: 25px;
    color: #fff;
    line-height: 46px;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
    margin: 55px auto 0;
}
.recipe_wrap .more_btn:hover{background: #fff; color:#000;}



/*store_wrap*/
.store_wrap{}
.store_wrap .club{width: 50%;float:left; background: #f00;
	height: 508px;
}
.store_wrap .club .inner{background: #fff;width: 576px; float:right;}
.store_wrap .store{width: 50%;float:left; background: #00f;
	height: 508px;
}
.store_wrap .store .inner{background: #fff;width: 576px;}



/*footer*/
.footer{background: #101010; color:#fff;}

.footer_nav{width: 1152px; margin:auto;
	padding:48px 0;
}
.footer_nav>div{width:25%; float:left;border-right: 2px solid #f00;
	box-sizing: border-box;}
.footer_nav .contact_wrap{border-right:0; }


.footer_info{border-top: 2px solid #202020; padding:20px 0;}






